.onward-journey__items {
	padding-left: 0;

	@include oGridRespondTo($until: S) {
		margin-bottom: 0;
	}
}

.onward-journey__item {
	display: block;
}

.onward-journey--full-width {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		background: getColor('black-5');
		width: 100vw;
		margin-left: -50vw;
		left: 50%;
		height: 100%;
		top: 0;
		z-index: -1;
	}
}

.onward-journey--ribbon {

	@include oGridRespondTo($until: M) {
		display: none;
	}

	min-height: 96px; //height it consumes with two lines
	@include oTypographyPadding($top: 2);

	&.onward-journey--opinion {
		&:before {
			background: oColorsMix(sky, oxford-100, 90);
		}
		.onward-journey__title {
			border-bottom: 1px solid oColorsMix(getColor('black'), getColor(sky), 20);
		}
	}

	.onward-journey__title {
		@include oTypographySans(0);
		@include oTypographyMargin($top: 0, $bottom: 2);
		@include oTypographyPadding($bottom: 2);
		border-bottom: 1px solid getColor('black-20');
		font-weight: 600;
		position: relative;
		> a {
			@include oTypographyLinkCustom('black', 'black-70');
			border-bottom-width: 0;
		}
	}

	.onward-journey__items {
		@include oTypographyMargin($top: 2, $bottom: 0);
	}

	.onward-journey__item {
		@include oGridRespondTo($until: L) {
			&:last-child {
				display: none;
			}
		}
	}

	.o-teaser--small {
		border-bottom: 0;
		margin-bottom: 0;
		@include oTypographyPadding($bottom: 3);
	}

	.o-teaser__heading {
		@include oTypographySansBold(-1);
		font-weight: 600;
		margin-top: 0;
	}

	.o-teaser__timestamp {
		display: none;
	}

	.o-teaser--small .o-teaser__image-container {
		padding-right: 10px;
		@include oGridRespondTo($until: XL) {
			display: none;
		}
	}
}

.onward-journey--simple {

	@include oGridRespondTo(L) {
		width: 90%;
		margin: 0 auto;

		.o-teaser-collection__item:nth-child(n+5) {
			margin-top: 24px;
		}
	}

	.standalone-teaser-heading {
		margin: 40px 0 24px;
	}
}

.onward-journey {
	.n-image-wrapper--placeholder.n-image-wrapper--lazy-loading:before {
		animation: none;
	}
}
