<div class="o-grid-container" data-trackable="onward-journey | top-ribbon">
	{{#if titleHref}}
		<h2 class="onward-journey__title">
			<a href="{{titleHref}}" data-trackable="ribbon-title">{{{title}}}</a>
		</h2>
	{{else}}
		<h2 class="onward-journey__title">{{title}}</h2>
	{{/if}}
	<ul class="onward-journey__items o-teaser-collection o-grid-row o-expander__content">
		{{#each items}}
		<li class="o-teaser-collection__item onward-journey__item" data-o-grid-colspan="0 M4 L3">
			{{>n-teaser/templates/heavy mods=(array 'small') colspan='{"default": 0, "XL": 3}' position='{"default": "left"}' widths="[500, 332]" noTag=true}}
		</li>
		{{/each}}
	</ul>
</div>
